interactions:
- request:
    body: '{"location": "southcentralusstage"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1","name":"sdk-py-tests-acc-1","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2021-04-19T14%3A37%3A05.4372148Z''\"","location":"southcentralusstage","properties":{"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/389123c5-7773-4330-b5d5-169c3a58adce?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A37%3A05.4372148Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/389123c5-7773-4330-b5d5-169c3a58adce?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/389123c5-7773-4330-b5d5-169c3a58adce","name":"389123c5-7773-4330-b5d5-169c3a58adce","status":"Succeeded","startTime":"2021-04-19T14:37:05.439368Z","endTime":"2021-04-19T14:37:05.5197516Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1","name":"sdk-py-tests-acc-1","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2021-04-19T14%3A37%3A05.514156Z''\"","location":"southcentralusstage","properties":{"provisioningState":"Succeeded","encryption":{"keySource":"Microsoft.NetApp"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A37%3A05.514156Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralusstage", "properties": {"size": 4398046511104,
      "serviceLevel": "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-1/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2021-04-19T14%3A37%3A38.9716605Z''\"","location":"southcentralusstage","properties":{"serviceLevel":"Premium","size":4398046511104,"totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/0d8a994c-2765-4bb5-936d-3dac3e09a718?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A37%3A38.9716605Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1","name":"sdk-py-tests-acc-1/sdk-py-tests-pool-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2021-04-19T14%3A37%3A39.2791481Z''\"","location":"southcentralusstage","properties":{"poolId":"916e78a7-e634-6ddf-b4c7-96521a3542de","serviceLevel":"Premium","size":4398046511104,"qosType":"Auto","totalThroughputMibps":262.144,"utilizedThroughputMibps":0.0,"encryptionType":"Single","provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A37%3A39.2791481Z'"
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "southcentralusstage", "properties": {"creationToken": "sdk-py-tests-vol-1",
      "serviceLevel": "Premium", "usageThreshold": 107374182400, "protocolTypes":
      ["NFSv3"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464/subnets/default",
      "snapshotDirectoryVisible": true, "kerberosEnabled": false, "securityStyle":
      "unix", "smbEncryption": false, "smbContinuouslyAvailable": false, "throughputMibps":
      0.0, "ldapEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/net[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","name":"sdk-py-tests-acc-1/sdk-py-tests-pool-1/sdk-py-tests-vol-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A41%3A41.2230579Z''\"","location":"southcentralusstage","properties":{"mountTargets":[{"mountTargetId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","ipAddress":"10.7.0.4","smbServerFQDN":""}],"throughputMibps":6.4,"volumeSpecName":"generic","provisioningState":"Succeeded","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","serviceLevel":"Premium","creationToken":"sdk-py-tests-vol-1","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_93ade68ee53011e9a696c27beff6b5ea_e8f4944d","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464/subnets/default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"encryptionKeySource":"Microsoft.NetApp","ldapEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A41%3A41.2230579Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2","name":"sdk-py-tests-acc-2","type":"Microsoft.NetApp/netAppAccounts","etag":"W/\"datetime''2021-04-19T14%3A42%3A07.5673001Z''\"","location":"eastus2euap","properties":{"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/94aeeddd-7fb8-44ee-a093-66df350db4c9?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A42%3A07.5673001Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1196'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/94aeeddd-7fb8-44ee-a093-66df350db4c9?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/94aeeddd-7fb8-44ee-a093-66df350db4c9","name":"94aeeddd-7fb8-44ee-a093-66df350db4c9","status":"Succeeded","startTime":"2021-04-19T14:42:07.5713244Z","endTime":"2021-04-19T14:42:07.6513415Z","percentComplete":100.0,"properties":{"resourceName":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"size": 4398046511104, "serviceLevel":
      "Premium"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2","name":"sdk-py-tests-acc-2/sdk-py-tests-pool-2","type":"Microsoft.NetApp/netAppAccounts/capacityPools","etag":"W/\"datetime''2021-04-19T14%3A42%3A40.8759013Z''\"","location":"eastus2euap","properties":{"serviceLevel":"Premium","size":4398046511104,"totalThroughputMibps":0.0,"utilizedThroughputMibps":0.0,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/9268645f-b832-4a2b-8ace-789b6f0eb984?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A42%3A40.8759013Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1195'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"location": "eastus2euap", "properties": {"creationToken": "sdk-py-tests-vol-2",
      "usageThreshold": 107374182400, "protocolTypes": ["NFSv3"], "subnetId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464-R/subnets/default",
      "volumeType": "DataProtection", "dataProtection": {"replication": {"endpointType":
      "dst", "replicationSchedule": "_10minutely", "remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1"}},
      "snapshotDirectoryVisible": true, "kerberosEnabled": false, "securityStyle":
      "unix", "smbEncryption": false, "smbContinuouslyAvailable": false, "throughputMibps":
      0.0, "ldapEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2","name":"sdk-py-tests-acc-2/sdk-py-tests-pool-2/sdk-py-tests-vol-2","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A43%3A25.1415906Z''\"","location":"eastus2euap","properties":{"throughputMibps":0.0,"volumeType":"DataProtection","dataProtection":{"replication":{"endPointType":"dst","replicationSchedule":"_10minutely","remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1"}},"creationToken":"sdk-py-tests-vol-2","usageThreshold":107374182400,"protocolTypes":["NFSv3"],"subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464-R/subnets/default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"provisioningState":"Creating"}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/02a8b2a3-a051-4ee5-81b1-2aac44caf341?api-version=2021-02-01
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A43%3A25.1415906Z'"
      x-ms-ratelimit-remaining-subscription-writes:
      - '1194'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"remoteVolumeResourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1/authorizeReplication?api-version=2021-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/34b2fa38-f6c6-432f-b73e-75cab177b512?api-version=2021-02-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/34b2fa38-f6c6-432f-b73e-75cab177b512?api-version=2021-02-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","name":"sdk-py-tests-acc-1/sdk-py-tests-pool-1/sdk-py-tests-vol-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A47%3A47.1381812Z''\"","location":"southcentralusstage","properties":{"mountTargets":[{"mountTargetId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","ipAddress":"10.7.0.4","smbServerFQDN":""}],"throughputMibps":6.4,"volumeSpecName":"generic","dataProtection":{"replication":{"endPointType":"Src","remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2","remoteVolumeRegion":"eastus2euap"}},"provisioningState":"Succeeded","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","serviceLevel":"Premium","creationToken":"sdk-py-tests-vol-1","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_93ade68ee53011e9a696c27beff6b5ea_e8f4944d","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464/subnets/default","snapshotDirectoryVisible":true,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"encryptionKeySource":"Microsoft.NetApp","ldapEnabled":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A47%3A47.1381812Z'"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/southcentralusstage/operationResults/34b2fa38-f6c6-432f-b73e-75cab177b512?api-version=2021-02-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","name":"sdk-py-tests-acc-1/sdk-py-tests-pool-1/sdk-py-tests-vol-1","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A47%3A47.1381812Z''\"","location":"southcentralusstage","properties":{"dataProtection":{"replication":{"endPointType":"Src","replicationStatus":"","remotePath":{"externalHostName":"az-bn7-dr244-sto","serverName":"svm_141fa84c3d2211eab68c025cb39d3009_3e6defd3","volumeName":"vol_sdk_py_tests_vol_2_807a6f"},"remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2","remoteVolumeRegion":"eastus2euap"}},"provisioningState":"Succeeded","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","serviceLevel":"Premium","creationToken":"sdk-py-tests-vol-1","ownerId":"93ade68e-e530-11e9-a696-c27beff6b5ea","usageThreshold":107374182400,"usedBytes":0,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv4":false,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true,"chownMode":"Restricted"}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_93ade68ee53011e9a696c27beff6b5ea_e8f4944d","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464/subnets/default","snapshotDirectoryVisible":true,"vendorID":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","poolId":"916e78a7-e634-6ddf-b4c7-96521a3542de","mountTargets":[{"provisioningState":"","mountTargetId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","fileSystemId":"af9c4942-e33d-d3a5-18e4-1cf94a47a1e8","startIp":"","endIp":"","gateway":"","netmask":"","subnet":"","ipAddress":"10.7.0.4","smbServerFQDN":""}],"throughputMibps":6.4,"isCreate":false,"kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"unixPermissions":"0770","encryptionKeySource":"Microsoft.NetApp","volumeSpecName":"generic","coolAccess":false}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2?api-version=2021-02-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2","name":"sdk-py-tests-acc-2/sdk-py-tests-pool-2/sdk-py-tests-vol-2","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A48%3A02.7550666Z''\"","location":"eastus2euap","properties":{"mountTargets":[{"mountTargetId":"593bb48f-72b0-e6b5-8c18-c7057c004ed7","fileSystemId":"593bb48f-72b0-e6b5-8c18-c7057c004ed7","ipAddress":"10.7.0.4","smbServerFQDN":""}],"throughputMibps":6.4,"volumeType":"DataProtection","dataProtection":{"replication":{"replicationId":"b1ef0d4f-7a3b-97f9-24d2-6a3df473324b","endPointType":"Dst","replicationSchedule":"_10minutely","remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","remoteVolumeRegion":"southcentralusstage"}},"fileSystemId":"593bb48f-72b0-e6b5-8c18-c7057c004ed7","serviceLevel":"Premium","creationToken":"sdk-py-tests-vol-2","usageThreshold":107374182400,"exportPolicy":{"rules":[{"ruleIndex":1,"unixReadOnly":false,"unixReadWrite":true,"cifs":false,"nfsv3":true,"nfsv41":false,"allowedClients":"0.0.0.0/0","kerberos5ReadOnly":false,"kerberos5ReadWrite":false,"kerberos5iReadOnly":false,"kerberos5iReadWrite":false,"kerberos5pReadOnly":false,"kerberos5pReadWrite":false,"hasRootAccess":true}]},"protocolTypes":["NFSv3"],"baremetalTenantId":"baremetalTenant_svm_141fa84c3d2211eab68c025cb39d3009_3e6defd3","subnetId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.Network/virtualNetworks/sdktestqa7vnet464-R/subnets/default","kerberosEnabled":false,"securityStyle":"Unix","smbEncryption":false,"smbContinuouslyAvailable":false,"ldapEnabled":false,"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"datetime'2021-04-19T14%3A48%3A02.7550666Z'"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2/replicationStatus?api-version=2021-02-01
  response:
    body:
      string: '{"healthy":true,"relationshipStatus":"Idle","mirrorState":"Uninitialized","totalProgress":"","errorMessage":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2/breakReplication?api-version=2021-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/ca726d97-e2ec-406c-91a5-72c9070e47f8?api-version=2021-02-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/ca726d97-e2ec-406c-91a5-72c9070e47f8?api-version=2021-02-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1198'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/ca726d97-e2ec-406c-91a5-72c9070e47f8?api-version=2021-02-01&operationResultResponseType=Location
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2","name":"sdk-py-tests-acc-2/sdk-py-tests-pool-2/sdk-py-tests-vol-2","type":"Microsoft.NetApp/netAppAccounts/capacityPools/volumes","etag":"W/\"datetime''2021-04-19T14%3A54%3A06.3443456Z''\"","location":"eastus2euap","properties":{"volumeType":"","dataProtection":{"replication":{"replicationId":"b1ef0d4f-7a3b-97f9-24d2-6a3df473324b","endPointType":"Dst","replicationSchedule":"_10minutely","replicationPolicy":"MirrorAllSnapshots","replicationStatus":"Mirrored","remotePath":{"externalHostName":"az-bn7-dr244-sto","serverName":"svm_141fa84c3d2211eab68c025cb39d3009_3e6defd3","volumeName":"vol_sdk_py_tests_vol_2_807a6f"},"remoteVolumeResourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-1/capacityPools/sdk-py-tests-pool-1/volumes/sdk-py-tests-vol-1","remoteVolumeRegion":"southcentralusstage"}},"fileSystemId":[...]
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/sdk-test-qa7-R/providers/Microsoft.NetApp/netAppAccounts/sdk-py-tests-acc-2/capacityPools/sdk-py-tests-pool-2/volumes/sdk-py-tests-vol-2/resyncReplication?api-version=2021-02-01
  response:
    body:
      string: ''
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/e1ed062b-164d-4828-b476-9fb9bc4c685b?api-version=2021-02-01
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/e1ed062b-164d-4828-b476-9fb9bc4c685b?api-version=2021-02-01&operationResultResponseType=Location
      x-ms-ratelimit-remaining-subscription-writes:
      - '1197'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.NetApp/locations/eastus2euap/operationResults/e1ed062b-164d-4828-b476-9fb9bc4c685b?api-version=2021-02-01
  response:
    body:
[...]
